
# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*        # any local env variations
*.swp           # vim swap files
.github
# Virtual environment
venv/
env/
.venv/
ENV/
*.zip
# -------------------------
# Docker
# -------------------------
*.log
*.pid
*.sock
*.tmp

# Docker Compose override files
docker-compose.override.yml

# -------------------------
# OS / IDE / Editor
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# -------------------------
# Misc
# -------------------------
*.sqlite3
*.db
*.egg-info/
dist/
build/
